@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  border: 5px solid red;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px, 16px;
}

input {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 4px solid green;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 8px;
}

a {
  /* this removes the line under the links */
  text-decoration: none;
  color: gray;
}

.header,
.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 4px solid blue;
}

.footer {
  background-color: lightgray;
  /* border-top: 1px solid #ddd; */
}