body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  margin: auto;
  padding: 10px, 24px;

  background: white;
  border: 1px solid #eee;
}